.wrapper {
    margin: var(--mantine-spacing-md);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width:473px)  {
        justify-content: space-between;
    }
}

.copyright {
    display: none;

    @media (min-width:473px)  {
        display: block;
    }
}
