.wrapper {
    width: 100%;
    flex: 1;
}

.title {
    font-size: 0.8rem;
    font-weight: bold;
}

.input {
    width: 100%;
    text-align: center;
}

.fixedDaysButtonsWrapper {
    margin: 5px 0;
}
